# MkDocs build output
_site/
site/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python
env/
venv/
.venv/
.env

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Notebooks
.ipynb_checkpoints/

# Caches
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
